{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<header class="d-flex masthead m-0 py-2 align-items-center" 
        style="background-image: url('{% static 'img/bg-masthead.jpg' %}'); height: 50vh;"> 
    <div class="container text-center">
        <h2 class="mx-auto mb-3" style="font-size: 4vw; line-height: 1.2;">
            <span>Welcome to&nbsp;</span><em>{{ display_name }}'s</em><br>Ebbinghaus Anywhere!
        </h2>
        <p class="text-center" style="font-size: 2vw; line-height: 1.5;">
            {{ display_name }} has learned <strong>{{ total_items }}</strong> items in the <strong>{{ days_since_first_item }}</strong> days spent with Ebbinghaus Anywhere
        </p>
    </div>
</header>

<section id="services" class="content-section bg-primary text-white text-center py-3" style="min-height: 40vh;">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-4" style="font-size: 3vw;">What We Can Do</h2>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-4">
                <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-notebook"></i></span>
                <h4 style="font-size: 1.8vw;"><strong>All Items</strong></h4>
                <p class="mb-0 text-faded" style="font-size: 1.2vw;">Looks great on any screen size!</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                <h4 style="font-size: 1.8vw;"><strong>Input</strong></h4>
                <p class="mb-0 text-faded" style="font-size: 1.2vw;">Freshly redesigned for Bootstrap 5.</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-calendar"></i></span>
                <h4 style="font-size: 1.8vw;"><strong>Daily Review</strong></h4>
                <p class="mb-0 text-faded" style="font-size: 1.2vw;">
                    <span>Millions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span>
                </p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-magnifier"></i></span>
                <h4 style="font-size: 1.8vw;"><strong>Search</strong></h4>
                <p class="mb-0 text-faded" style="font-size: 1.2vw;">I mustache you a question...</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
